<ul class="share-bar">
	{% for provider in providers.main %}

	 <li class="share share-link-{{provider}}">
	 {% with "share/providers/"|add:provider|add:".html" as template %}
	 	{% include template %}
	 {% endwith %}
	 </li>
	 {% endfor %}
 	<li class="more">
 		<a class="more" href="#">More</a>
 		<ul class="share-bar-more">
 			{% for provider in providers.more %}
				<li class="share share-link-{{provider}}">
				{% with "share/providers/"|add:provider|add:".html" as template %}
					{% include template %}
				{% endwith %}
				</li>
 			{% endfor %}
 		</ul>
	</li>
</ul>