.service-links {
  list-style: none;
}

.service-links .service-link {
	width: 70px;
  height:35px;
}

.service-links .service-link .button {
  background: url("../images/providers-icon-sprite.png") no-repeat;
  width: 35px;
  height:20px;
  float:left;
}

.service-links .service-link .count {
  font-size: 11px;
  float: right;
  border: 1px solid #CCC;
  width: 32px;
  height: 19px;
  line-height: 19px!important;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #676A6B;
  position: relative;
  background-color: white;
}

.service-links .service-link-facebook .button {
  background-position: 0 0;
}  

.service-links .service-link-twitter .button {
  background-position: 0px -25px;
}  
